/* sky */
.sky--day {
  background-size: auto 100%;
  width: 200vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
}

/* main */
.page-main--background {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../../img/background/scena.png") no-repeat center center
    fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* door */
.door-wrapper {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
  width: 190px;
  height: 88%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.page-main__left-door,
.page-main__right-door {
  position: relative;
  width: 50%;
  height: 106%;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-main__left-door {
  background: url("../../img/doors/iron_left.png") no-repeat center center;
  scale: 1.1;
}

.page-main__right-door {
  background: url("../../img/doors/iron_right.png") no-repeat center center;
  scale: 1.1;
}

.door__inner-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  transform: translateY(-50%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #000;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.door__inner-overlay.visible {
  opacity: 1;
}

/* Hiệu ứng mở cửa */
.page-main__left-door.open {
  animation: openLeftDoor 3s forwards;
}

.page-main__right-door.open {
  animation: openRightDoor 3s forwards;
}

@keyframes openLeftDoor {
  0% {
    transform: rotateY(0deg) translateX(0);
  }
  100% {
    transform: rotateY(-100deg) translateX(-10vw);
  }
}

@keyframes openRightDoor {
  0% {
    transform: rotateY(0deg) translateX(0);
  }
  100% {
    transform: rotateY(100deg) translateX(10vw);
  }
}

/* Đặt góc quay cho cửa trái và phải */
.page-main__left-door,
.page-main__right-door {
  transform-origin: center center;
  backface-visibility: hidden;
  transition: transform 3s, transform-origin 3s;
}

.page-main--background {
  transition: transform 3s;
}

.page-main--background.zooming {
  transform: scale(3.5);
  transform-origin: center center;
}
