/* sky */
.sky--day {
  background: url("../../img/sky/day-nomal.png") repeat-x top center;
  background-size: auto 100%;
  width: 200vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  animation: skyScroll 60s linear infinite;
}

/* night */
.sky--night {
  background: url("../../img/sky/night-nomal.png") repeat-x top center;
  background-size: auto 100%;
  width: 200vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sky-rain{
  background: url("../../img/sky/day-rainy.png") repeat-x top center;
  background-size: auto 100%;
  width: 200vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  animation: skyScroll 60s linear infinite;
}

.sky-snow{
  background: url("../../img/sky/day-snow.png") repeat-x top center;
  background-size: auto 100%;
  width: 200vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
}

/* sky_birds */
.sky__birds {
  width: 100%;
  height: auto;
  object-fit: contain;
}


/* main */

/* mobile */
.mobile-menu {
  display: none;
}

/* Image Card Section */
.image-card-left {
  position: absolute;
  top: 560px;
  left: 420px;
  width: 120px;
  font-family: "Arial", sans-serif;
  color: white;
  z-index: 20;
}

.image-card-right {
  position: absolute;
  top: 600px;
  right: 400px;
  width: 120px;
  font-family: "Arial", sans-serif;
  color: white;
  z-index: 20;
}

.image-card__image-wrapper {
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.image-card__image {
  width: 100%;
  display: block;
  border-radius: 12px;
}

/* Icon overlay */
.image-card__icons {
  position: absolute;
  top: -55px;
  right: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-button {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  border-radius: 50%;
  color: var(--primary-color);
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-button:hover {
  background-color: var(--primary-color, #38bdf8);
  border-color: var(--primary-color, #38bdf8);
  color: white;
}

/* cổng */
.page-main--background {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../../img/background/sciana.png") no-repeat center center
    fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-main--snow {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../../img/background/sciana_snow.png") no-repeat center center
    fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*inner  */
.page-main__interior {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/background/tlo.png") no-repeat center center;
  background-size: cover;
  pointer-events: none;
}

/* door */
.door-wrapper {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
  width: 478px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.page-main__left-door,
.page-main__right-door {
  position: relative;
  width: 50%;
  height: 106%;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-main__left-door {
  background: url("../../img/doors/wooden_left.png") no-repeat center center;
  scale: 1.1;
}

.page-main__right-door {
  background: url("../../img/doors/wooden_right.png") no-repeat center center;
  scale: 1.1;
}

/* floor */
.page-main__floor {
  background: url("../../img/floor/floor.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 0;
}

.page-main__floor--snow {
  background: url("../../img/floor/floor_snow.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 0;
}


.page-main__panel {
  flex: 1;
  text-align: center;
  padding: 16px; /* 1rem = 16px */
}

/* Thêm lá ở bên trái và phải của main */
.page-main__leaf-left,
.page-main__leaf-right {
  position: absolute;
  background-size: cover;
  z-index: 2;
}

.page-main__leaf-left {
  background-image: url("../../img/trees/liscie_left.png");
  width: 60%;
  height: 50%;
  left: -13%;
  transform: translateY(-50%);
  top: 25%;
}

.page-main__leaf-right {
  background-image: url("../../img/trees/liscie_right.png");
  right: 5%;
  transform: translateY(-50%);
}

/* hiệu ứng sky */
@keyframes skyScroll {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -100vw;
  }
}

/* Hiệu ứng mở cửa */
.page-main__left-door.open {
  animation: openLeftDoor 3s forwards;
}

.page-main__right-door.open {
  animation: openRightDoor 3s forwards;
}

@keyframes openLeftDoor {
  0% {
    transform: rotateY(0deg) translateX(0);
  }
  100% {
    transform: rotateY(-100deg) translateX(-10vw);
  }
}

@keyframes openRightDoor {
  0% {
    transform: rotateY(0deg) translateX(0);
  }
  100% {
    transform: rotateY(100deg) translateX(10vw);
  }
}

/* Đặt góc quay cho cửa trái và phải */
.page-main__left-door,
.page-main__right-door {
  transform-origin: center center;
  backface-visibility: hidden;
  transition: transform 3s, transform-origin 3s;
}

.page-main--background {
  transition: transform 3s;
}

.page-main--background.zooming {
  transform: scale(3.5);
  transform-origin: center center;
}

/* snow */
.page-main--snow {
  transition: transform 3s;
}

.page-main--snow.zooming {
  transform: scale(3.5);
  transform-origin: center center;
}

/* CSS cho desktop lớn */
@media (max-width: 1600px) {
  .image-card-right {
    right: 200px;
  }

  .image-card-left {
    left: 220px;
  }
}

/* Laptop / Desktop */
@media (max-width: 1200px) {
  .image-card-right {
    right: 40px;
  }

  .image-card-left {
    left: 60px;
  }
}

/* Tablet ngang / Laptop nhỏ */
@media (max-width: 992px) {
  .image-card__image {
    display: none;
  }

  .page-main__leaf-left {
    display: none;
  }
}

/* Khi màn hình nhỏ hơn 768px (mobile),*/
@media (max-width: 768px) {
  .image-card-left {
    left: 80px;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    z-index: 9;
  }

  .mobile-menu button {
    cursor: pointer;
    color: var(--white);
    background: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mobile-menu button i {
    color: var(--primary-color);
    font-size: 18px;
    margin-right: 8px;
  }
}
